/*=============== BLOG ===============*/
.blog {
  padding-block: 74px 57px;
}
.blog__container {
}
.blog__title:not(:last-child) {
  margin-bottom: 18px;
}
.blog__item {
}
.blog__item:not(:last-child) {
  margin-bottom: 18px;;
}
@media screen and (min-width: 992px) {
  .blog {
    padding-block: 160px 53px;
  }
  .blog__container {
    max-width: 718px;
  }
  .blog__title:not(:last-child) {
    margin-bottom: 55px;
  }
  .blog__items {
  }
  .blog__item:not:(:last-child) {
    margin-bottom: 32px;
  }
}
/*========= BLOG-POST =========*/
.blog-post {
  border-bottom: solid 1px var(--grey-color);
  padding-bottom: 24px;
}
.blog-post > *:last-child {
  margin-bottom: 0;
}
.blog-post__title {
  font-size: 26px;
  font-weight: var(--font-medium);
  margin-bottom: 5px;
}
.blog-post__info {
  margin-bottom: 17px;
}
.blog-post__data {
}
.blog-post__separator {
  height: 12px;
  margin-inline: 14px 15px;
}
.blog-post__tags {
}
.blog-post__description{
}

@media screen and (min-width: 992px) {
  .blog-post {
    padding-bottom: 29px;
  }
  .blog-post__title {
    font-size: 30px;
    margin-bottom: 16px;
    transition: color .4s;
  }
  .blog-post__title:hover {
    color: var(--primary-color);
  }
  .blog-post__info {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .blog-post__data {
  }
  .blog-post__separator {
    height: 21px;
    margin-inline: 25px 20px;
  }
  .blog-post__tags {
  }
}