.blog {
  padding-block: 16px 57px;
}
.blog__container {
  padding-inline: 18px;
}
.blog__title:not(:last-child) {
  margin-bottom: 18px;
}
.blog__items > *:last-child {
  margin-bottom: 0;
}
.blog__item {
  border-bottom: solid 1px var(--grey-color);
  padding-bottom: 24px;
  margin-bottom: 18px;
}
.blog__item-title {
  margin-bottom: 5px;
}
.blog__item-title_font-size-26px {
  font-size: 26px;
}
.blog__item-title_line-height-normal {
  line-height: normal;
}
.blog__item-info {
  margin-bottom: 17px;
}
.blog__item-data:not(:last-child) {
  margin-right: 14px;
}
.blog__item-tags:not(:first-child) {
  padding-left: 15px;
}