
@media screen and (min-width: 992px) {
  /*=============== HERO ===============*/
  .hero {
    padding-block: 128px 71px;
  }
  .hero__container {
    text-align: initial;

    display: flex;
    column-gap: 115px;
    align-items: flex-start;
  }
  .hero__profile-picture {
    box-shadow: -5px 13px 0px 0px var(--container-color);
    height: 100%;
    flex: 0 0 243px;
    order: 1;
  }
  .hero__body {
    flex: 1 1 auto;
    margin-top: 18px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 28px;
  }
  .hero__text {
    margin-bottom: 30px;
  }

  /*=============== RECENT-POSTS ===============*/
  .recent-posts {
    padding-block: 20px 32px;
  }
  .recent-posts__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .recent-posts__title {
    padding-right: 20px;
  }
  .recent-posts__view-all {
    display: block;
    white-space: nowrap;
  }
  .recent-posts__view-all:hover {
    color: var(--secondary-color);
  }
  .recent-posts__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .recent-posts__item {
    padding: 24px 23px 28px;
  }
  .recent-posts__item:hover {
    background-color: var(--grey-color);
  }

  /*=============== WORKS ===============*/
  .featured-works {
    padding-block: 28px 86px;
  }
  .featured-works__container {
    padding: 0 15px;
  }
  .featured-works__title {
    margin-bottom: 34px;
  }
}