/*=============== HOME ===============*/
.home {
}
.home__container {
  max-width: 891px;
}
.home__hero {
  padding-block: 83px 58px;
  text-align: center;
}
.home__recent-posts {
  padding-block: 20px 38px;
}
.home__featured-works {
  padding-block: 20px 38px;
}
.home__featured-works:last-child {
  margin-bottom: 112px;
}

@media screen and (min-width: 992px) {
  .home {
  }
  .home__hero {
    padding-block: 210px 71px;
    text-align: initial;
  }
  .home__recent-posts {
    padding-block: 20px 32px;
  }
  .home__featured-works {
    padding-block: 28px 40px;
  }
  .home__featured-works:last-child {
    margin-bottom: 43px;
  }
}

/*=============== HERO ===============*/
.hero {
}
.hero__container {
}
.hero__profile-picture {
  display: inline-block;
  box-shadow: -3px 9px 0px 0px var(--container-color);
}
.hero__profile-picture:not(:last-child) {
  margin-bottom: 43px;
}
.hero__body > *:last-child {
  margin-bottom: 0;
}
.hero__title {
  font-size: 32px;
  font-weight: var(--font-bold);
  line-height: 1.25;
}
.hero__title:not(:last-child) {
  margin-bottom: 21px;
}
.hero__text:not(:last-child) {
  margin-bottom: 27px;
}
.hero__button {
}

@media screen and (min-width: 992px) {
  .hero__container {
    display: flex;
    column-gap: 115px;
    align-items: flex-start;
  }
  .hero__profile-picture {
    box-shadow: -5px 13px 0px 0px var(--container-color);
    order: 1;
  }
  .hero__body {
    flex: 1 1 auto;
    margin-top: 18px;
  }
  .hero__title {
    font-size: 44px;
    margin-bottom: 28px;
  }
  .hero__text {
    margin-bottom: 30px;
  }
}

/*=============== RECENT-POSTS ===============*/
.recent-posts {
  background-color: var(--container-color);  
}
.recent-posts__container {
  padding-inline: 10px;
}
.recent-posts__header {
  margin-bottom: 16px;
}
.recent-posts__view-all {
  display: none;
  white-space: nowrap;
}
.recent-posts__item:not(:last-child) {
  margin-bottom: 17px;
}
@media screen and (min-width: 992px) {
  .recent-posts { 
  }
  .recent-posts__container {
    padding-inline: 18px;
  }
  .recent-posts__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .recent-posts__title:not(:last-child) {
    padding-right: 20px;
  }
  .recent-posts__view-all {
    display: block;
    white-space: nowrap;
  }
  .recent-posts__view-all:hover {
    color: var(--secondary-color);
  }
  .recent-posts__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .recent-posts__item:not(:last-child) {
    margin-bottom: 0;
  }
}
/*========== RECENT-POST ==========*/
.recent-post {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding: 12px 20px 22px;
  transition: background-color 0.4s;
}
.recent-post__link > *:last-child {
  margin-bottom: 0;
}
.recent-post__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  line-height: 1.5;
}
.recent-post__info {
  margin-bottom: 19px;
}
.recent-post__separator {
  margin-inline: 24px;
}
@media screen and (min-width: 992px) {
  .recent-post {
    flex: 0 0 48.7%;
    padding: 25px;
  }
  .recent-post:hover {
    background-color: var(--grey-color);
  }
  .recent-post__title {
    line-height: normal; 
    margin-bottom: 26px;
  }
  .recent-post__info {
    margin-bottom: 16px;
  }
  .recent-post__separator {
    margin-inline: 30px 27px;
  }
}

/*=============== WORKS ===============*/
.featured-works {
}
.featured-works__container {
}
.featured-works__title {
  margin-bottom: 16px;
}
.featured-works__items {
  display: flex;
  gap: 15px;
  overflow: auto;
}
.featured-works__item {
  flex: 0 0 90%;
}

@media screen and (min-width: 992px) {
  .featured-works { 
  }
  .featured-works__container {
  }
  .featured-works__title {
    margin-bottom: 34px;
  }
  .featured-works__items {
    display: block;
  }
  .featured-works__item:not(:last-child) {
    margin-bottom: 30px;
  }
}