/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  padding-inline: 18px;
}
.profile-picture {
  border-radius: 50%;
  height: 100%;
  width: 171px;
  overflow: hidden;
}
.page-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 2;
}
.button {
  background-color: var(--primary-color);
  border-radius: 2px;
  color: var(--white-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-medium);
  padding: 9px 20px;
  text-align: center;
  display: inline-block;
}
.section-small-title {
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 891px;
    padding-inline: 18px;
    margin: 0 auto;
  }
  .profile-picture {
    flex: 0 0 243px;
  }
  .title {
    line-height: 1.36;
  }
  .section-small-title {
    font-size: 22px;
    text-align: start;
  }
  .button {
    transition: background-color .4s;
  }
  .button:hover {
    background-color: #bd5151;
  }
}

/*=============== POST ===============*/
.post-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  line-height: 1.5;
}
.post-info {
  display: flex;
}
.post-separator {
  background-color: var(--black-color);
  width: 1px;
}
.post-separator:last-child {
  display: none;
}
@media screen and (min-width: 992px) {
  .post-title {
    line-height: normal; 
  }
  .post-info {
    font-size: 18px;
  }
}
/*====================================*/

/*=============== WORK ===============*/
.work {
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 16px;
}
.work__image {
  display: block;
  border-radius: 6px;
  min-height: 230px;
  overflow: hidden;
  padding-top: 75%;

  position: relative;
}
.work__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  
  position: absolute;
  left: 0;
  top: 0;
}
.work__image:not(:last-child) {
  margin-bottom: 17px;
}
.work__content > *:last-child {
  margin-bottom: 0;
}
.work__title {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  line-height: 1.25;
  margin-bottom: 16px;
}
.work__info {
  display: flex;
  gap: 22px;
  margin-bottom: 24px;
}
.work__year {
  background-color: var(--darker-color);
  border-radius: 16px;
  color: var(--white-color);
  height: 25px;
  font-weight: 900;
  padding: 0 12px;
}
.work__category {
  color: var(--light-color);
}
.work__description {
}

@media screen and (min-width: 992px) {
  .work {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding-bottom: 32px;
  }
  .work__image {
    flex: 0 0 28.672%; 
    min-height: 180px; 
    padding-top: 0;
  }
  .work__image_bigger {
    flex: 0 0 36.07%;
  }
  .work__image:not(:last-child) {
    margin-bottom: 0;
  }
  .work__image img {
  }
  .work__content {
    flex: 1 1 auto;
  }
  .work__title {
    transition: color .4s;
  }
  .work__title:hover {
    color: var(--primary-color);
  }
  .work__info {
    gap: 26px;
  }
  .work__year {
    font-size: 18px;
  }
  .work__category {
    font-size: 20px;
  }
  .work__description {
  }
}
/*====================================*/