/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  padding-inline: 10px;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 1.36;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 2px;
  color: var(--white-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-medium);
  padding: 9px 20px;
  text-align: center;
  display: inline-block;
}

.section-small-title {
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 888px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .title {
    
  }

  .section-small-title {
    font-size: 22px;
    text-align: start;
  }

  .btn {
    transition: background-color .4s;
  }

  .btn:hover {
    background-color: var(--dark-color);
  }
}

/*=============== POST ===============*/
.post {
  transition: background-color 0.4s;
}
.post > *:last-child {
  margin-bottom: 0;
}
.post__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  line-height: 1.36;
  margin-bottom: 12px;
}
.post__info {
  display: flex;
  margin-bottom: 19px;
}
.post__data:not(:last-child) {
  margin-right: 24px;
}
.post__tags:not(:first-child) {
  border-left: solid 1px var(--black-color);
  padding-left: 24px;
}
.post__description {
}

@media screen and (min-width: 992px) {
  .post {
  }
  .post__title {
    margin-bottom: 26px;
  }
  .post__info {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .post__data:not(:last-child) {
    margin-right: 30px;
  }
  .post__tags:not(:first-child) {
    padding-left: 27px;
  }
}
/*====================================*/

/*=============== WORK ===============*/
.work {
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 16px;
}
.work__image {
  display: block;
  border-radius: 6px;
  min-height: 230px;
  overflow: hidden;
  padding-top: 75%;

  position: relative;
}
.work__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  
  position: absolute;
  left: 0;
  top: 0;
}
.work__image:not(:last-child) {
  margin-bottom: 16px;
}
.work__content > *:last-child {
  margin-bottom: 0;
}
.work__title {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
}
.work__info {
  display: flex;
  gap: 22px;
  margin-bottom: 24px;
}
.work__year {
  background-color: var(--darker-color);
  border-radius: 16px;
  color: var(--white-color);
  font-weight: 900;
  padding: 2px 12px;
}
.work__category {
  color: var(--light-color);
}
.work__description {
}

@media screen and (min-width: 992px) {
  .work {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding-bottom: 32px;
  }
  .work__image {
    flex: 0 0 28.672%; 
    min-height: 180px; 
    padding-top: 0;
  }
  .work__image:not(:last-child) {
    margin-bottom: 0;
  }
  .work__image img {
  }
  .work__content {
    flex: 1 1 auto;
  }
  .work__title {
  }
  .work__info {
    gap: 26px;
  }
  .work__year {
    font-size: 18px;
  }
  .work__category {
    font-size: 20px;
  }
  .work__description {
  }
}
/*====================================*/