/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.container {
  padding-inline: 10px;
}

.grid {
  display: grid;
}


.main {
  flex: 1 1 auto;
  overflow: hidden;
  margin-top: var(--header-height);
}

.title {
  font-weight: var(--font-bold);
  line-height: 1.25;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 2px;
  color: var(--white-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-medium);
  padding: 9px 20px;
  text-align: center;
  display: inline-block;
}

.section-small-title {
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 888px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .title {
    
  }

  .section-small-title {
    font-size: 22px;
    text-align: start;
  }

  .btn {
    transition: background-color .4s;
  }

  .btn:hover {
    background-color: var(--dark-color);
  }
}